<h1>Beacons:</h1>

<% @beacons.each do |beacon| %>
Beacon name: <%= beacon.name %>
<br>
Beacon unique id: <%= beacon.unique_id %>
<br>
Beacon proximity: <%= beacon.proximity_uid %>
<br>
Beacon major: <%= beacon.major %>
<br>
Beacon minor: <%= beacon.minor %>
<br>
Beacon MAC: <%= beacon.beacon_mac %>
<br>
Beacon User id: <%= beacon.user_id %>
<hr>
<% end %>
